html,
body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    padding: 27px 0 27px 18px;
    margin: 0 0 34px;
    border-bottom: 1px solid #e5e5e5;
}

h4 {
    padding: 0 0 17px 18px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}

.euro {
    font-size: 14px;
    padding: 20px 0 18px 18px;
    margin-bottom: 10px;
}

.dollar {
    font-size: 14px;
    padding: 20px 18px 0 18px;
    margin: 0 0 17px 10px;
    float: right;
}

img {
    border-radius: 16px;
}

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

.pattern {
    background-color: #f9f9f9;
    background-image: url('img/pattern-1.png');
    background-repeat: repeat-x;

}

.bar {
    padding: 20px 0;
    font-weight: bold;
    font-size: larger;
}

.bar a {
    color: black;
}

#date-time {
    float: right;
}

.bar-info {
    width: 960px;
    margin: 0 auto;
    height: 50px;
}

#logo {
    float: left;
    margin: 5px 0;
}

#minibar {
    margin: 7px 0 7px 10px;
}

#btn-bar {
    background-color: rgb(243, 242, 242);
    float: right;
    border: 0px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 0 5px 12px;
    margin: 12px 0 8px 0;
    width: 250px;
}

#icon-seach {
    position: absolute;
    margin: 15px 0 0 355px;
    float: right;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 20px;
    background-color: #f9f9f9;
    background-image: url('img/pattern.png');
    background-repeat: repeat-x;
    overflow-y: hidden;
}

.news {
    height: 780px;
}

.news-left {
    background-color: #fff;
    width: 250px;
    float: left;
}

.news-item {
    padding-left: 18px;
    margin-bottom: 27px;
    font-size: 14px;
}

.news-item-text {
    margin-bottom: 20px;
}

.news-item-props {
    font-size: 12px;
    position: relative;
}

.news-item-props a {
    color: #91919f;
    text-decoration: none;
}

.news-time {
    position: absolute;
    top: 0;
    left: 140px;
    padding-left: 15px;
    background-image: url(img/icon-time.png);
    background-repeat: no-repeat;
}

.news-comments-count {
    position: absolute;
    top: 0;
    right: 10px;
    padding-left: 15px;
    background-image: url(img/icon-comments.png);
    background-repeat: no-repeat;
}

#btn-allNews {
    border-color: #2196F3;
    color: dodgerblue;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 50px 10px 50px;
    margin-bottom: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

article {
    width: 420px;
    margin-left: 20px;
    float: left;
}

#big-news {
    font-size: 12px;
    position: relative;
    color: white;
}

#big-news a {
    position: absolute;
    top: 155px;
    left: 16px;
    color: white;
    text-decoration: none;
}

.big-news-text {
    position: absolute;
    top: 180px;
    left: 16px;
    font-size: 24px;
    font-weight: bold;
}

.big-news-date {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.big-news-time {
    position: absolute;
    bottom: 16px;
    left: 115px;
    padding-left: 15px;
    background-image: url(img/icon-time.png);
    background-repeat: no-repeat;
}

#tile-news {
    width: 420px;
    margin: 10px 0 25px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
}

.flex-news {
    position: relative;
    width: 200px;
    margin: 20px 0;
}

.flex-news a {
    position: absolute;
    color: #91919f;
    text-decoration: none;
    font-size: 12px;
}

.tile-news-text {
    font-weight: bold;
    margin: 5px 0 20px 0;
}

.tile-news-time {
    position: absolute;
    right: 50px;
    padding-left: 15px;
    background-image: url(img/icon-time.png);
    background-repeat: no-repeat;
    font-size: 12px;
}

.tile-news-comments-count {
    position: absolute;
    right: 10px;
    padding-left: 15px;
    background-image: url(img/icon-comments.png);
    background-repeat: no-repeat;
    font-size: 12px;
}

.reclame {
    width: 250px;
    float: right;
    margin-bottom: 20px;
}

.other-news {
    height: auto;
}

.big-other-news {
    width: 710px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.big-other-news a {
    position: absolute;
    color: black;
    font-size: 12px;
    text-decoration: none;
    left: 16px;
    bottom: 120px;
}

.big-other-news-text {
    position: absolute;
    left: 16px;
    bottom: 80px;
    font-size: 24px;
    font-weight: bold;
}

.big-other-news-date {
    position: absolute;
    font-size: 12px;
    bottom: 30px;
    left: 16px;
}

.big-other-news-time {
    position: absolute;
    bottom: 30px;
    left: 115px;
    padding-left: 15px;
    background-image: url(img/icon-time.png);
    background-repeat: no-repeat;
    font-size: 12px;
}

.other-news-item {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 710px;
}

.other-news-item a {
    position: absolute;
    text-decoration: none;
    color: #91919f;
    font-size: 12px;
}

.other-news-text {
    margin: 45px 0 10px 0;
    font-size: 14px;
}

.other-news-time {
    position: absolute;
    right: 40px;
    padding-left: 15px;
    background-image: url(img/icon-time.png);
    background-repeat: no-repeat;
    font-size: 12px;
}

.other-news-comments-count {
    position: absolute;
    right: 0;
    padding-left: 15px;
    background-image: url(img/icon-comments.png);
    background-repeat: no-repeat;
    font-size: 12px;
}

footer {
    height: 250px;
}

.about {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.about a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.socialMediaLinks {
    width: 200px;
    height: 50px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.socialMediaLinks a {
    display: flex;
    align-items: center;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.icon-vk,
.icon-instagram-filled,
.icon-facebook,
.icon-twitter {
    padding-left: 5px;
    padding-top: 3px;
}

.info {
    margin: 20px 0;
}

.info a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    border: none;
}

.copyright {
    margin: 40px 0 15px 0;
    border-top: 1px solid #91919f;
    text-align: center;
}
